html{
    font-family: Nunito Sans;
    color: #1C1917;
}

:root{
    --color-primary: #f97316; 
}

#hero{
    height: 800px;
    background: url(hero.jpg);
    background-position: center top;
    background-size: cover;
}

.conteiner{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

#header{
 
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 align-items:center;
}
#logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navigation-text{
    padding-right: 20px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
}

.navigation-text:hover{
    color: #65a30d;
}

.heading{
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
    
}

.heading-text{
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    color: #57534E;
    font-weight: 300;
    line-height: 22px;
    
}

.button{
    
    background-color: var(--color-primary);
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 16px 32px;
    box-shadow: 1px 1px 4px #d6d3d1;
    border: none;
    transition: all 500ms linear;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
}
.conteiner_inner{
    margin: 0 auto;
    margin-bottom: 100px;
    background-position: center top;
    background-size: cover;
    max-width: 1024px;
    
}

.head{

   text-align: center; 
   font-size: 35px;
   text-align: center;
   font-weight: 600;
   margin-top: 100px;
}

.speech{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.messenger{
    font-size: 25px;
    padding: 3px;
}

.menu-text{
    font-size: 20px;
    font-weight: 300;
    
}

.content{
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    color: #57534E;
    text-align: left;
    margin-left: 10px;
}

.menu{
    padding: 30px;
    bottom: 30px;
    background-color: #f0edeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    width: 30%;
    margin: 10px;
    transition: all 200ms linear;
    cursor: pointer;
}
.menu:hover{
    transform: scale(1.1);
}
.menu-content{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 30px;  
    margin-left: 20px; 
    margin-right: 20px;
    flex-grow: 1;

}

.icons{
    font-size: 25px;
    color: white;
    background-color: var(--color-primary);
    width: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px #d6d3d1;

}

.article{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.article-heading{
    font-weight: 600;
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 30px;
}

.article-text{
    font-size: 18px;
    font-weight: 200;
    color: #2e2d2b;
    margin-top: 10px;
    line-height: 20px;
}

.article-image{
    width: 500px;
    margin-left: 20px;
}

.conteiner-orange{
    background-color: #ffedd5;
    margin: 0 auto;
    
}

.conteiner-orange-head{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.conteiner-head{
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    padding-top: 60px;
 
    
}
.shape{
    text-align: center; 
    font-size: 35px;
   text-align: center;
   font-weight: 600;
   margin-top: 50px;
   padding-bottom: 80px;

}

.conteiner-orange-text{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}

.shape-input{
    border: 1px solid #D6D3D1;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 8px;
    margin-right: 10px;
    border: none;
}

.button-shape{
    background-color: var(--color-primary);
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 1px 1px 4px #d6d3d1;
    padding: 16px 32px;
    border: none;
    color: white;
    transition: all 500ms linear;
    cursor: pointer;
}
.button-shape:hover{
    transform: scale(1.1);
}

.conteiner-reviews{
    background-color: #fafaf9;
    padding-bottom: 100px;
}

.reviews{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.reviews-title{
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    
    
}
.name{
    font-size: 18px;
    margin-bottom: 15px;
}

.reviews-head{
    text-align: center; 
   font-size: 35px;
   text-align: center;
   font-weight: 600;
   padding-top: 100px;
}


.reviews-text{
    font-weight: 300;
    color: #44403c;

}

.reviews-name{
    border-bottom: 1px solid #D6D3D1;
    padding-top: 40px;
    width: 600px;
    padding-bottom: 30px;
}

.conteiner_rate{
    background-position: center top;
    background-size: cover;
    max-width: 1024px;
    margin: 0 auto;

}
.conteiner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    line-height: 20px;
}

.rate{
    
    border: 1px solid #e7e5e4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
   
}
.rates{
    
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    vertical-align: baseline;


}

.rate-head{
    color: #F97316;
    font-size: 18px;
    margin-top: 10px;
}

.rate-price{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.icon{
    color: #65a30d;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-size: 14px;
    align-items: flex-start;
    
}

.icon-detali{
    flex-grow: 1;
    margin-top: 20px;
}

.button-rate{
    background-color: #ffedd5;
    border-radius: 8px;
    width: 100%;
    color: #ea580c;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    transition: all 300ms linear;
    cursor: pointer;
}
.button-rate:hover{
    transform: scale(1.1);
}
.conteiner-footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
   color: #78716c;
   

}

.contact{
color: #78716c;
}

.phone{
    display: flex;
    align-items: center;
}

.contact-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 20px;
    
}

.footer{
    height: 150px;
    background-color: #e7e5e4;
    display: flex;
    align-items: center;
}

.conteiner-contact{
    max-width: 1024px;
    width: 100%;
    margin:0 auto;
}

.contact-icon-text{
    font-size: 15px;
    text-decoration: none;
    color: #78716c;
}

.contact-icon-text:hover{
    color: #ea580c;
}

.contact-icon-text:active{
    color: #ffffff;
}


.button:hover{
 background-color: #825136;
}

.button-shape:hover{
    background-color: #825136;
}
.button-rate:hover{
    background-color: #825136;
    color: rgb(255, 255, 255);
}

.contact-icon:hover{
    color: #ea580c;
}
